@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/robotoregular-webfont.eot');
    src: url('../fonts/robotoregular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/robotoregular-webfont.woff2') format('woff2'),
    url('../fonts/robotoregular-webfont.woff') format('woff'),
    url('../fonts/robotoregular-webfont.ttf') format('truetype'),
    url('../fonts/robotoregular-webfont.svg#robotoregular') format('svg');
}
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/robotobold-webfont.eot');
    src: url('../fonts/robotobold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/robotobold-webfont.woff2') format('woff2'),
    url('../fonts/robotobold-webfont.woff') format('woff'),
    url('../fonts/robotobold-webfont.ttf') format('truetype'),
    url('../fonts/robotobold-webfont.svg#robotobold') format('svg');
}
@font-face {
    font-family: 'summerBold';
    src: url('../fonts/summer_font_bold-webfont.eot');
    src: url('../fonts/summer_font_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/summer_font_bold-webfont.woff2') format('woff2'),
    url('../fonts/summer_font_bold-webfont.woff') format('woff'),
    url('../fonts/summer_font_bold-webfont.ttf') format('truetype'),
    url('../fonts/summer_font_bold-webfont.svg#summer_fontbold') format('svg');
}

body {
    color: #222;
    font-family: robotoregular;
}

h1, h2, h3, h4 {
    color: #006f84;
    font-family: robotobold;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}
a {
    color: #006F84;
}
a:hover {
    color: #17a2b8;
    text-decoration: none;
}
a.more {
    font-family: robotobold;
    font-size: 1rem;
    text-align: right;
    text-transform: uppercase;
}
img {
    height: auto;
    width: 100%;
}
.container>.row {
    justify-content: center;
}

/* header */
#header .container-fluid>.row {
    height: 100%;
}
.header {
    background: #027592;
    height: 160px;
}
.logo {
    align-items: center;
    display: flex;
    height: 100%;
}
.logo img {
    margin: auto;
}
.switchLang {
    align-items: center;
    background: url(../images/switchLang_bg.png) no-repeat center;
    background-size: auto;
    display: flex;
    justify-content: center;
}
.switchLang div>.row {
    margin: 1rem 0;
}
.switchLang a {
    color: #fff;
}
.switchLang a.active {
    color: #b2b3b6;
}

/* main menu */
ul#mainMenu {
    height: 100%;
}
ul#mainMenu>li>a {
    align-items: center;
    background: url(../images/mainMtnu_bg.png) no-repeat center;
    color: #fff;
    display: flex;
    justify-content: center;
    height: 123px;
    text-transform: uppercase;
    width: 123px;
}
ul#mainMenu>li>a:hover {
    color: #49c3ca;
}
ul#mainMenu>li>a>img {
    max-width: 61px;
}
a.nav-link {
    padding: 0;
}
a.nav-link.active {
    color: #ffc813 !important;
}
a.nav-link.active:hover {
    color: #17a2b8 !important;
}

/* slider */
.flickitySlider, .fSlide {
    position: relative;
    width: 100%;
}
.flickity-viewport {
    overflow: hidden;
}
.flickity-prev-next-button {
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.4;
    width: 80px;
    height: 100%;
}
.flickity-prev-next-button .arrow { fill: #fff; }
.flickity-prev-next-button:hover .arrow { fill: #49c3ca; }
.flickity-prev-next-button.previous {
    left: 1%;
    position: absolute;
    top: 0;
}
.flickity-prev-next-button.next {
    right: 1%;
    position: absolute;
    top: 0;
}
.flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: 1rem;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}
.flickity-page-dots .dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 8px;
    background: #49c3ca;
    border-radius: 50%;
    cursor: pointer;
}
.flickity-page-dots .dot.is-selected { background: #ffc813; }

/* projects */
#projects {
    background: url(../images/project_bg.jpg) no-repeat center;
    background-size: cover;
    height: 485px;
    margin-top: -7px;
}
#projects h2, #articleFp h2, #numbers h2, #partner h2 {
    font-size: 3rem;
    margin-top: 28px;
    opacity: .6;
    position: relative;
    width: auto;
}
#numbers h2 {
    color: #fff;
    opacity: 0.85;
}
#projects h2, #articleFp h2 {
    color: #000;
}
.bullet {
    height: 30px;
    left: -40px;
    position: absolute;
    top: 20px;
    width: 30px;
}
#projects .bullet {
    background: url(../images/project_bullet.png) no-repeat center;
}
#articleFp .bullet {
    background: url(../images/articleFp_bullet.png) no-repeat center;
}
.project:first-child {
    padding-left: 0;
}
.project:last-child {
    padding-right: 0;
}
.projectWrapper {
    border: 2px solid #fff;
    padding: 10px;
}
.projectText {
    align-items: center;
    display: flex;
    height: 300px;
    position: relative;
}
.projectText a {
    bottom: 8px;
    color: #fff;
    font-size: 30px;
    left: 10px;
    line-height: 1.1;
    position: absolute;
    right: 10px;
    text-transform: uppercase;
}

/* article fp */
#article {
    min-height: 68vh;
    padding-bottom: 2rem;
}
#article h1 {
    color: #222;
    margin: 2rem 0 1rem;
}
#articleFp {
    background: url(../images/articleFp_bg.jpg) no-repeat top center;
    background-size: cover;
}
#articleFp p {
    column-count: 2;
    column-gap: 2rem;
    font-size: 1rem;
    text-align: justify;
}
.article p {
    text-align: justify;
}
#nav-tab {
    margin: 2rem 0;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    border-color: transparent;
}
.nav-tabs {
    border-bottom: none;
    display: flex;
    justify-content: space-between;
}
.nav-tabs a {
    font-family: robotobold;
    font-size: 48px;
    text-transform: uppercase;
}
.nav-link.active {
    border-color: transparent !important;
}
#nav-tabContent .card {
    border: none;
    justify-content: center;
    text-align: center;
}
.contact {
    align-items: flex-end;
    display: flex;
}
#nav-contact p {
    font-size: 1.1rem;
}
.tab-pane img {
    margin: 0 0 1rem;
}
.map {
    background: #ddd;
    height: 450px;
    margin-bottom: 1rem;
}
.part {
    margin: 4rem 0;
}
.part h2 {
    color: #222;
    text-align: left;
}

/* article */
#article img {
    margin: 1rem 0;
}
#photo .card-body {
    text-align: center;
}
#photo .card-body div {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}
#gal .card .img {
    background-size: cover !important;
    height: 285px;
    position: relative;
}
#gal .card-body{
    padding: 0;
}
#gal .card-body h5 {
    margin: 1rem 0 0;
}

/* news */
#fpNews {
    background: url(../images/news_bg.jpg) no-repeat center;
    background-size: cover;
}
#fp .lastNew {
    background: url(../images/lastNews.png) no-repeat center;
    background-size: cover;
    border: 8px solid #b2e1e4;
    border-radius: 50%;
    height: 380px;
    margin: 3rem 0;
    overflow: hidden;
    position: relative;
}
#fp .lastNew::after {
    background: #ffc813;
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 60%;
}
#fp .lastNew .span {
    font-size: .9rem;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 93%;
    z-index: 1;
}
#fp .lastNew h3 {
    font-size: 1rem;
    left: 0;
    max-height: 98px;
    overflow: hidden;
    padding: 0 3rem;
    position: absolute;
    right: 0;
    top: 62%;
    z-index: 1;
}
#fp .lastNew h3 a, .fpNew a {
    color: #000;
}
#fp .lastNew h3 a:hover, .fpNew a:hover {
    color: #17a2b8;
}
.fpNews h2 {
    color: #fff;
    font-size: 160px;
    margin-left: -50px;
    opacity: 0.5;
}
.fpNews .row:nth-child(2)>div {
    align-items: center;
    display: flex;
    justify-content: center;
}
.fpNew {
    border: 8px solid #b2e1e4;
    background-position: center !important;
    background-size: cover !important;
    border-radius: 50%;
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 200px;
}
.fpNew:after {
    background: #ffc813;
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 60%;
}
.fpNew h3 {
    bottom: 0;
    font-size: 0.7rem;
    left: 0;
    max-height: 50px;
    overflow: hidden;
    padding: 0 1rem;
    position: absolute;
    right: 0;
    text-align: center;
    top: 62%;
    z-index: 1;
}
.fpNew span {
    font-size: 10px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 90%;
    z-index: 1;
}
.fpNews .row:nth-child(2) {
    justify-content: center;
}
.fpNews .row:last-child {
    justify-content: center;
    margin-top: 1rem;
}
.listNews.row {
    padding: 2rem 0;
}
#newsFirst .lastNew.row {
    background: linear-gradient(to top left, #ffeaae, #ffd771);
    padding: 1rem 0;
}
#news .lastNew.row {
    display: none;
}
.lastNew .img {
    height: 380px;
    position: relative;
}
.lastNew h2 {
    color: #222;
    padding: 0 0 0 1rem;
    text-align: left;
}
.lastNew p {
    padding: 0 0 0 1rem;
}
.lastNew .date, .card>.img>.date {
    background: #ffc813;
    display: none;
    padding: 0.6rem 0.5rem;
    position: absolute;
    right: 0;
    top: 0;
}
.listNews .card, #photo .card , #gal .card {
    padding: 1rem;
}
.listNews .card-body, #photo .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0 0;
}
.listNews .card .img, #photo .card .img {
    background-size: cover !important;
    height: 348px;
    position: relative;
}
.listNews .card a {
    float: right;
}
/*
#new .date {
    background: #ffc813;
    padding: 0.5rem 1rem;
}
*/
#article button {
    border-radius: 0;
}

/* numbers */
#numbers {
    background: url(../images/numbers_bg.jpg) no-repeat center;
    background-size: cover;
    padding-bottom: 2rem;
}
#counter {
    margin-top: 2rem;
}
#counter>div>.row {
    justify-content: center;
}
.text {
    color: #fff;
    font-family: robotobold;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    line-height: 1.3rem;
    margin-top: 1rem;
    opacity: 0;
    text-align: center;
    transition: opacity 1s;
}
.number {
    align-items: center;
    background: url(../images/number_bg.png) no-repeat center;
    color: #fff;
    display: flex;
    font-family: robotobold;
    font-size: 4em;
    justify-content: center;
    height: 168px;
    opacity: 0;
    transition: opacity 1s;
    width: 168px;
}
.viz {
    opacity: 1;
}

/* partners */
#partner {
    padding: 0 0 2rem;
}
.partner.row div {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}
.partner.row div>img {
    width: auto;
}

/* footer */
#footer {
    background: url(../images/footer_bg.jpg) no-repeat center;
    background-size: cover;
    padding: 1rem 0;
}
#footer>div>.row div {
    align-items: center;
    display: flex;
    justify-content: center;
}
#footer span {
    color: #fff;
    font-size: 0.8rem;
}

/* search */
form.search {
    width: 100%;
}
button.search-button {
    background: none;
    border: none;
    cursor: pointer;
}
input.search_input {
    background: #99edf8;
    border: none;
    padding: 4px;
    width: 100%;
}
input.search_input::placeholder {
    color: #66A9B5;
    font-size: 0.8rem;
}

/* krock */
body.krock {
    background: linear-gradient(to bottom left, #000000, #030322);
    background-attachment: fixed;
    color: #999999;
}
.krock #header .logoKrock {
    margin-top: 150px;
    z-index: 10;
}
.krock ul#mainMenu>li>a:hover,.krock ul#mainMenu>li>a.active {
    color: #f00;
}
.krock .logoForum a {
    display: flex;
}
.krock .logoForum img {
    margin: auto;
}
.krock .switchLang {
    filter: grayscale(100%);
}
.krock #slider .flickity-page-dots .dot {
    background: #a7a7a8;
}
.krock #slider .flickity-page-dots .dot.is-selected {
    background: #ff0000;
}
.krock #article {
    border-top: 2px solid #ff0000;
    padding-top: 2rem;
}
.krock #article h1 {
    color: #f00;
    font-family: pfScandalProBlack;
    font-size: 70px;
}
.krock #article p {
    font-family: summerBold;
    font-size: 36px;
    text-align: justify;
}
.krock #arcive {
    padding-bottom: 4rem;
}
.krock #arcive .img {
    background-size: cover;
    border: 2px solid #f00;
    height: 350px;
    position: relative;
}
.krock #arcive a {
    display: flex;
    justify-content: center;
}
.krock #arcive a:hover .img {
    filter: blur(2px);
    transition: filter 1s;
}
.krock #arcive span {
    background: #f00;
    border-radius: 4px;
    bottom: 0;
    color: #fff;
    display: block;
    font-family: robotobold;
    font-size: 48px;
    line-height: 1rem;
    padding: 1.3rem 1rem 1.1rem;
    position: absolute;
    text-align: center;
}
.krock #footer {
    background: linear-gradient(to top, #191942, #010117);
    border-top: 2px solid #ff0000;
}
.krock #footer .row>div:nth-child(2) img,
.krock #footer .row>div:nth-child(4) img {
    filter: grayscale(100%);
}
.krock #footer input.search_input {
    background: #CDCDCD;
}
.header-bg {
    background: linear-gradient(8deg, #061742, #29395d);
    border-bottom: 4px solid #f00;
}